<div class="row justify-content-center mt-3">
  <h3><strong>本当に退会しますか？</strong></h3>
</div>

 <div class="row justify-content-center mt-3">
   <h5 class="body text-center">
     退会すると、会員情報や<br>
     これまで投稿した内容が閲覧できなくなります。<br>
     退会する場合は、「退会する」をクリックしてください。
   </h5>
 </div>

<div class="button text-center mt-4">
  <%= link_to "退会しない", customer_path(current_customer.id), class:"btn btn-primary" %>
  <%= link_to "退会する", withdrawal_customer_path(current_customer.id), method: :patch, class:"btn btn-danger" %>
</div>
