<div class="container-field mt-3 mb-6">
  <div class="row justify-content-center">
    <h3><strong>フォロワーユーザー</strong></h3>
  </div>
 <%= render "public/customers/index", customers: @customers %>
</div>

<a href="#top" class="scroll-top-btn">
　<i class="fa-solid fa-circle-chevron-up fa-xl" style="color: #ec7322;"></i>
</a>