<%= form_with model: [restaurant, comment], local: false do |f| %>
  <%= f.text_area :comment, size: "45×2", placeholder: "コメントをここに" %>
  <div class="row justify-content-center">
   <%= f.submit "送信する", class: "button-edit" %>
   <% end %>
  </div>