<div class="container-field">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "pasta.jpg", class: "d-block w-100", alt: "..." %>
          <p class="about-main">Find</p>
          <p class="about-body">
            旅先やちょっとしたお出かけの際に、、、<br>
            投稿から様々なジャンルの料理店を<br>
            探すことが出来ます！
          </p>
        </div>

        <div class="carousel-item">
          <%= image_tag "steak.jpg", class: "d-block w-100", alt: "..." %>
          <p class="about-main">Log</p>
          <p class="about-body">
            料理の写真がフォルダーに眠っている、、、<br>
            味の感想や場所を投稿することで<br>
            今まで行ったお店の記録が出来ます！
          </p>
        </div>

        <div class="carousel-item">
          <%= image_tag "bamboo.jpg", class: "d-block w-100", alt: "..." %>
          <p class="about-main">Foods</p>
          <p class="about-body">
            このサイトは<br>
            料理と人を繋ぐサイトとなっています！<br>
            新たな出会いの素晴らしさを体験しましょう！
          </p>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>