<div class="container-field">
  <div class="top">
    <div class="main-image">
     <%= image_tag "kitchen-5055083_1280", class: "d-block w-100", alt: "..." %>
    </div>

    <div class="carousel-caption d-none d-md-block top-message text-body box mx-auto">
      <p>ようこそ、ながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。
      </p>
    </div>
  </div>
</div>