<div class="container-field mt-3 mb-6">
  <% if @range == "customer" %>
    <div class="row justify-content-center">
      <h3><strong>会員検索結果一覧</strong></h3>
    </div>
     <%= render "admin/customers/index", customers: @customers %>

    <% elsif @range == "店舗名" %>
    <div class="row justify-content-center">
      <h3><strong>店舗名検索結果一覧</strong></h3>
    </div>
     <%= render "admin/restaurants/index", restaurants: @restaurants %>

    <% elsif @range == "所在地" %>
    <div class="row justify-content-center">
      <h3><strong>店舗所在地検索結果一覧</strong></h3>
    </div>
　　　<%= render "admin/restaurants/index", restaurants: @restaurants %>
  <% end %>
</div>
<a href="#top" class="scroll-top-btn">
  <i class="fa-solid fa-circle-chevron-up fa-xl" style="color: #ec7322;"></i>
</a>