@use '~bootstrap/scss/bootstrap';

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.box-shadow {
  box-shadow: 8px 10px 9px 7px rgba(0,0,0,0.21);
  -webkit-box-shadow: 8px 10px 9px 7px rgba(0,0,0,0.21);
  -moz-box-shadow: 8px 10px 9px 7px rgba(0,0,0,0.21);
}

.navbar {
  background-color: #FFF2D6;
}

.footer-main {
  background-color: #FFF2D6;
}

.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #fff2d6;     /* 背景色     */
  color         : #990000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #fff2d6;    /* 枠の指定 */
  margin-left   : 1rem;
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #fff2d6;     /* 背景色     */
  background    : #990000;     /* 文字色     */
}

.button1 {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #1a1aff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #1a1aff;    /* 枠の指定 */
}
.button1:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #1a1aff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button-edit {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : rgba(0, 222, 0, 0.78);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 9px #666666;  /* 影の設定 */
  border        : 2px solid rgba(0, 222, 0, 0.78);    /* 枠の指定 */
}
.button-edit:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(0, 222, 0, 0.78);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

section {
	overflow-y: scroll;
	margin: 5px auto 5px;
	padding: 5px;
	width: 100%;
	height: 400px;
	border: 2px solid #ccc;
}

.button-delete {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : rgba(255, 0, 0, 0.78);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 9px #666666;
  border        : 2px solid rgba(255, 0, 0, 0.78);    /* 枠の指定 */
}
.button-delete:hover {
  color         : rgba(255, 0, 0, 0.78);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.button-new {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 12px;   /* 余白       */
  background    : rgba(255, 77, 77, 0.94);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 9px #666666;  /* 影の設定 */
  border        : 2px solid rgba(255, 77, 77, 0.94);    /* 枠の指定 */
}
.button-new:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(255, 77, 77, 0.94);     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

h3 {
  position: relative;
  padding: 0.25em 0;
}
h3:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}